@charset "UTF-8";
 



body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(112, 106, 106);
    margin: 0px;
}
header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}
nav{
    background-color: rgb(100, 97, 97);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.400);
}
nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;  
    padding: 40px;
}
nav > a:hover{
    color: yellow;
}
main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
article{
    background-color: rgba(212, 208, 208, 0.849);
    padding: 2px;
}
article > aside{
    background-color: black;
    color: white;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 4px;
    margin: 0px;
}
footer > p {
    margin: 0px;
}
div#bola{
    background-color: white;
    width: 100px;
    height: 100px;
    margin: 10px 10px 10px 10px;
    border-radius: 50%;

}